{
  "presets": ["next/babel"],
  "env": {
    "development": {
      "plugins": [
        [
          "istanbul",
          {
            "include": [
              "**/*.{js,jsx,ts,tsx}",
              "!**/*.d.ts",
              "!**/node_modules/**",
              "!**/.next/**",
              "!**/cypress/**",
              "!**/coverage/**",
              "!jest.config.js",
              "!next.config.js",
              "!**/mergeCoverage.js",
              "!**/__coverage__.js",
              "!**/seed.ts"
            ]
          }
        ]
      ]
    }
  }
}
