html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

button,
.button,
.btn {
  transition: all 200ms;
  box-shadow: inset 0px 1px 5px 0px #ffffff7a;
  border-radius: 6px;
  background-color: rgb(216, 216, 216);
  border: 0px;
  display: inline-block;
  cursor: pointer;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  opacity: 0.8;
}

button:hover,
.button:hover,
.btn:hover {
  opacity: 1;
}

button:active,
.button:active,
.btn:active {
  position: relative;
  top: 1px;
}
